<div class="home_page">
  <h1>Denver Burger Club</h1>

  <p>Like book club but with a lot less culture, wine and intelligent conversation. If you sound more important than you actually are, you get free fries.</p>
  </br>
  <ul>Find us on the social:
    <li>tweet us @5280burgerclub</li>
  </ul>
  </br>
  <ul><h3>Best overall burger joint in Denver:</h3>
  </ul>
  </br>
  <ul><h3>Top restaurants by category:</h3>
    <li>meat doneness: @meat_done_avg</li>
    <li>meat flavor:</li>
  </ul>
</div>
