.address {
  padding: 10px;
  font-size: 22px;
}

.review_date {
  padding: 10px;
  font-size: 22px; 
}

.lists {
  padding: 10px;
  font-size: 22px;
}

.headline {
  padding: 10px;
  background: darkGreen;
  width: 400px;
  font-size: 24px;
  color: white;
}
