.home_page
  %h1 Denver Burger Club

  %p Like book club but with a lot less culture, wine and intelligent conversation. If you sound more important than you actually are, you get free fries.
  %p tweet us @5280burgerclub
